/* Reset de estilos */
body,
h1,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 8px;
  margin-right: 10px;
  width: 280px;
}

input[type="number"] {
  padding: 8px;
  width: 70px;
  margin-right: 10px;
}

#Adicionar {
  margin-right: 10px;
  padding: 8px 12px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

#Adicionar:hover,
.comprado:hover {
  background-color: #398a3d;
}

#ApagarTudo {
  margin-right: 10px;
  padding: 8px 12px;
  background-color: #ad4646;
  color: #fff;
  border: none;
  cursor: pointer;
}

#ApagarTudo:hover,
.excluir:hover {
  background-color: rgb(143, 58, 55);
}

#extrato {
  margin-right: 10px;
  padding: 8px 12px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  cursor: pointer;
}

#extrato:hover,
.alterar:hover {
  background-color: #0061a7;
}

main {
  margin: 20px;
  flex: 1;
}

ul {
  list-style: none;
}

li {
  background-color: #f7f7f7;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adiciona espaço entre os itens */
  width: 100%; /* Garante que os itens ocupem toda a largura */
}

.list-item {
  display: flex;
  align-items: center;
}

.quantidade,
.excluir,
.alterar,
.comprado {
  color: #fff;
  border: none;
  margin-right: 12px; /* Ajuste o espaçamento entre o botão "1x" e o texto "Alface" */
  padding: 6px 10px;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-left: auto; /* Move para o canto direito */
}

.excluir,
.alterar {
  margin-left: 0px; /* Move os botões para a margem direita */
  margin-right: 12px;
}

.quantidade {
  background-color: #333;
}

.excluir {
  background-color: #ad4646;
}

.alterar {
  background-color: #0077cc;
}

.comprado {
  background-color: #4caf50;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.description {
  text-align: left;
}

p {
  font-size: 16px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}

.social-media img {
  border-radius: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 320px) {
  li {
    background-color: #f7f7f7;
    padding: 10px;
    margin-bottom: 6px;
    border-radius: 5px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Altera a direção dos itens para vertical */
    align-items: flex-start;
    justify-content: space-between; /* Adiciona espaço entre os itens */
    width: 95%; /* Garante que os itens ocupem toda a largura */
  }

  .excluir,
  .alterar,
  .comprado {
    color: #fff;
    border: none;
    margin-right: 8px;
    margin-top: 12px; /* Ajuste o espaçamento entre o botão "1x" e o texto "Alface" */
    padding: 4px 6px;
    cursor: pointer;
    font-size: 10px;
  }

  .quantidade {
    font-size: 10px;
    padding: 4px 6px;
  }

  span {
    font-size: 13px;
  }

  .list-item {
    margin-left: 8px;
  }

  .buttonContainer {
    margin-left: 8px;
  }

  h1 {
    font-size: 22px;
  }

  input[type="text"] {
    padding: 8px;
    height: 10px;
    margin-right: 5px;
    width: 150px;
  }

  input[type="number"] {
    padding: 8px;
    height: 10px;
    width: 50px;
    margin-right: 10px;
  }

  #Adicionar,
  #ApagarTudo,
  #extrato {
    margin-right: 6px;
    padding: 6px 10px;
    margin-top: 8px;
    font-size: 12px;
  }

  footer {
    padding: 8px;
  }

  p {
    font-size: 12px;
  }

  .description {
    text-align: center;
  }

  .social-media img {
    border-radius: 5px;
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 375px) and (min-width: 321px) {
  li {
    background-color: #f7f7f7;
    padding: 10px;
    margin-bottom: 6px;
    border-radius: 5px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Altera a direção dos itens para vertical */
    align-items: flex-start;
    justify-content: space-between; /* Adiciona espaço entre os itens */
    width: 98%; /* Garante que os itens ocupem toda a largura */
  }

  .list-item,
  .buttonContainer {
    margin-left: 2px;
  }

  .excluir,
  .alterar,
  .comprado {
    color: #fff;
    border: none;
    margin-right: 5px;
    margin-top: 12px; /* Ajuste o espaçamento entre o botão "1x" e o texto "Alface" */
    padding: 5px 7px;
    cursor: pointer;
    font-size: 11px;
  }

  .quantidade {
    font-size: 11px;
    padding: 5px 6px;
  }

  span {
    font-size: 14px;
  }

  .list-item {
    margin-left: 8px;
  }

  .buttonContainer {
    margin-left: 8px;
  }

  h1 {
    font-size: 23px;
  }

  input[type="text"] {
    padding: 8px;
    height: 10px;
    margin-right: 5px;
    width: 170px;
  }

  input[type="number"] {
    padding: 8px;
    height: 10px;
    width: 55px;
    margin-right: 10px;
  }

  #Adicionar,
  #ApagarTudo,
  #extrato {
    margin-right: 7px;
    padding: 6px 10px;
    margin-top: 8px;
    font-size: 13px;
  }

  footer {
    padding: 8px;
  }

  p {
    font-size: 12px;
  }

  .description {
    text-align: center;
  }

  .social-media img {
    border-radius: 5px;
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 425px) and (min-width: 376px) {
  li {
    background-color: #f7f7f7;
    padding: 10px;
    margin-bottom: 6px;
    border-radius: 5px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Altera a direção dos itens para vertical */
    align-items: flex-start;
    justify-content: space-between; /* Adiciona espaço entre os itens */
    width: 98%; /* Garante que os itens ocupem toda a largura */
  }

  .list-item,
  .buttonContainer {
    margin-left: 2px;
  }

  .excluir,
  .alterar,
  .comprado {
    color: #fff;
    border: none;
    margin-right: 5px;
    margin-top: 12px; /* Ajuste o espaçamento entre o botão "1x" e o texto "Alface" */
    padding: 5px 7px;
    cursor: pointer;
    font-size: 12px;
  }

  .quantidade {
    font-size: 12px;
    padding: 5px 6px;
  }

  span {
    font-size: 15px;
  }

  .list-item {
    margin-left: 8px;
  }

  .buttonContainer {
    margin-left: 8px;
  }

  h1 {
    font-size: 23px;
  }

  input[type="text"] {
    padding: 8px;
    height: 10px;
    margin-right: 5px;
    width: 200px;
  }

  input[type="number"] {
    padding: 8px;
    height: 10px;
    width: 55px;
    margin-right: 10px;
  }

  #Adicionar,
  #ApagarTudo,
  #extrato {
    margin-right: 7px;
    padding: 6px 10px;
    margin-top: 8px;
    font-size: 13px;
  }

  footer {
    padding: 6px;
  }

  p {
    font-size: 13px;
  }

  .description {
    text-align: center;
  }

  .social-media img {
    border-radius: 7px;
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
  li {
    background-color: #f7f7f7;
    padding: 10px;
    margin-bottom: 6px;
    border-radius: 5px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Altera a direção dos itens para vertical */
    align-items: flex-start;
    justify-content: space-between; /* Adiciona espaço entre os itens */
    width: 98%; /* Garante que os itens ocupem toda a largura */
  }

  .list-item,
  .buttonContainer {
    margin-left: 2px;
  }

  .excluir,
  .alterar,
  .comprado {
    margin-right: 5px;
    margin-top: 12px; /* Ajuste o espaçamento entre o botão "1x" e o texto "Alface" */
    padding: 6px 7px;
    font-size: 13px;
  }

  .quantidade {
    font-size: 13px;
    padding: 6px 8px;
  }

  span {
    font-size: 16px;
  }

  .list-item {
    margin-left: 8px;
  }

  .buttonContainer {
    margin-left: 8px;
  }

  h1 {
    font-size: 23px;
  }

  input[type="text"] {
    padding: 8px;
    height: 10px;
    margin-right: 5px;
    width: 240px;
  }

  input[type="number"] {
    padding: 8px;
    height: 10px;
    width: 55px;
    margin-right: 10px;
  }

  #Adicionar,
  #ApagarTudo,
  #extrato {
    margin-right: 7px;
    padding: 6px 10px;
    margin-top: 8px;
    font-size: 13px;
  }

  footer {
    padding: 6px;
  }

  p {
    font-size: 13px;
  }

  .description {
    text-align: center;
  }

  .social-media img {
    border-radius: 7px;
    width: 25px;
    height: 25px;
  }
}
