/* Reset de estilos */
body,
h1,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 8px;
  margin-right: 10px;
  width: 300px;
}

input[type="number"] {
  padding: 8px;
  width: 70px;
  margin-right: 10px;
}

#Adicionar {
  margin-right: 10px;
  padding: 8px 12px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

#Adicionar:hover,
.comprado:hover {
  background-color: #398a3d;
}

#ApagarTudo {
  margin-right: 10px;
  padding: 8px 12px;
  background-color: #ad4646;
  color: #fff;
  border: none;
  cursor: pointer;
}

#ApagarTudo:hover,
.excluir:hover {
  background-color: rgb(143, 58, 55);
}

#extrato {
  margin-right: 10px;
  padding: 8px 12px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  cursor: pointer;
}

#extrato:hover,
.alterar:hover {
  background-color: #0061a7;
}

main {
  margin: 20px;
  flex: 1;
}

ul {
  list-style: none;
}

li {
  background-color: #f7f7f7;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adiciona espaço entre os itens */
  width: 100%; /* Garante que os itens ocupem toda a largura */
}

.list-item {
  display: flex;
  align-items: center;
}

.quantidade,
.excluir,
.alterar,
.comprado {
  color: #fff;
  border: none;
  margin-right: 12px; /* Ajuste o espaçamento entre o botão "1x" e o texto "Alface" */
  padding: 6px 10px;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-left: auto; /* Move para o canto direito */
}

.excluir,
.alterar {
  margin-left: 0px; /* Move os botões para a margem direita */
  margin-right: 12px;
}

.quantidade {
  background-color: #333;
}

.excluir {
  background-color: #ad4646;
}

.alterar {
  background-color: #0077cc;
}

.comprado {
  background-color: #4caf50;
}

/* Estilos adicionais para itens marcados */
li.checked {
  background-color: #ccc;
  text-decoration: line-through;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.description {
  text-align: left;
}

p {
  font-size: 16px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}

.social-media img {
  border-radius: 10px;
  margin-left: 10px;
}

@media (max-width: 797px) and (min-width: 685px) {
  header {
    padding: 10px;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  h3 {
    font-size: 18px;
  }
  input[type="text"] {
    width: 450px;
    margin: 8px 0;
  }
  input[type="number"] {
    width: 100px;
    margin: 8px 0;
  }
  #Adicionar,
  #ApagarTudo,
  #extrato {
    margin-right: 6px;
    padding: 8px 12px;
    font-size: 14px;
  }
  ul li {
    padding: 8px;
  }
  .quantidade,
  .excluir,
  .alterar,
  .comprado {
    color: #fff;
    border: none;
    margin-right: 8px; /* Ajuste o espaçamento entre o botão "1x" e o texto "Alface" */
    padding: 4px 8px;
    cursor: pointer;
  }
  span,
  p {
    font-size: 14px;
  }
}

@media (max-width: 684px) and (min-width: 565px) {
  header {
    padding: 10px;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  h3 {
    font-size: 18px;
  }
  input[type="text"] {
    width: 450px;
    margin: 8px 0;
  }
  input[type="number"] {
    width: 100px;
    margin: 8px 0;
  }
  #Adicionar,
  #ApagarTudo,
  #extrato {
    margin-right: 6px;
    padding: 8px 10px;
    font-size: 12px;
  }
  ul li {
    padding: 8px;
  }
  .quantidade,
  .excluir,
  .alterar,
  .comprado {
    color: #fff;
    border: none;
    margin-right: 6px; /* Ajuste o espaçamento entre o botão "1x" e o texto "Alface" */
    padding: 4px 7px;
    cursor: pointer;
    font-size: 10px;
  }
  span {
    font-size: 12px;
  }
  p {
    font-size: 14px;
  }
}

@media (max-width: 564px) and (min-width: 510px) {
  header {
    padding: 10px;
  }
  h1 {
    font-size: 22px;
    margin-bottom: 5px;
  }
  h3 {
    font-size: 16px;
  }
  input[type="text"] {
    width: 370px;
    margin: 8px 0;
  }
  input[type="number"] {
    width: 80px;
    margin: 8px 0;
    margin-right: 6px;
  }
  #Adicionar,
  #ApagarTudo,
  #extrato {
    margin-right: 6px;
    padding: 6px 8px;
    font-size: 12px;
  }
  ul li {
    padding: 12px;
  }
  .quantidade,
  .excluir,
  .alterar,
  .comprado {
    color: #fff;
    border: none;
    margin-right: 4px; /* Ajuste o espaçamento entre o botão "1x" e o texto "Alface" */
    padding: 4px 6px;
    cursor: pointer;
    font-size: 10px;
  }
  span {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
  .social-media img {
    width: 25px;
    height: 25px;
    border-radius: 7px;
  }
}

@media (max-width: 509px) and (min-width: 451px) {
  header {
    padding: 10px;
  }
  h1 {
    font-size: 22px;
    margin-bottom: 5px;
  }
  h3 {
    font-size: 16px;
  }
  input[type="text"] {
    width: 320px;
    margin: 8px 0;
  }
  input[type="number"] {
    width: 60px;
    margin: 8px 0;
    margin-right: 6px;
  }
  #Adicionar,
  #ApagarTudo,
  #extrato {
    margin-right: 6px;
    padding: 6px 8px;
    font-size: 12px;
  }
  ul li {
    padding: 12px;
  }
  .quantidade,
  .excluir,
  .alterar,
  .comprado {
    color: #fff;
    border: none;
    margin-right: 4px; /* Ajuste o espaçamento entre o botão "1x" e o texto "Alface" */
    padding: 4px 6px;
    cursor: pointer;
    font-size: 8px;
  }
  span {
    font-size: 10px;
  }
  p {
    font-size: 11px;
  }
  .social-media img {
    width: 20px;
    height: 20px;
    border-radius: 6px;
  }
}

@media (max-width: 450px) and (min-width: 400px) {
  header {
    padding: 8px;
  }
  h1 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  h3 {
    font-size: 14px;
  }
  input[type="text"] {
    width: 280px;
    margin: 6px 0;
    height: 10px;
  }
  input[type="number"] {
    width: 50px;
    margin: 6px 0;
    margin-right: 6px;
    height: 10px;
  }
  #Adicionar,
  #ApagarTudo,
  #extrato {
    margin-right: 6px;
    padding: 6px 8px;
    font-size: 10px;
  }
  ul li {
    padding: 12px;
  }
  main {
    margin: 15px;
  }
  .quantidade,
  .excluir,
  .alterar,
  .comprado {
    color: #fff;
    border: none;
    margin-right: 3px; /* Ajuste o espaçamento entre o botão "1x" e o texto "Alface" */
    padding: 4px 6px;
    cursor: pointer;
    font-size: 7px;
  }
  span {
    font-size: 9px;
  }
  p {
    font-size: 10px;
  }
  .social-media img {
    width: 20px;
    height: 20px;
    border-radius: 6px;
  }
}

@media (max-width: 399px) and (min-width: 340px) {
  header {
    padding: 6px;
  }
  h1 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  h3 {
    font-size: 12px;
  }
  input[type="text"] {
    width: 225px;
    margin: 6px 0;
    height: 8px;
  }
  input[type="number"] {
    width: 45px;
    margin: 6px 0;
    margin-right: 6px;
    height: 8px;
  }
  #Adicionar,
  #ApagarTudo,
  #extrato {
    margin-right: 6px;
    padding: 6px 8px;
    font-size: 9px;
  }
  ul li {
    padding: 12px;
  }
  main {
    margin: 13px;
  }
  .quantidade,
  .excluir,
  .alterar,
  .comprado {
    color: #fff;
    border: none;
    margin-right: 3px; /* Ajuste o espaçamento entre o botão "1x" e o texto "Alface" */
    padding: 3px 4px;
    cursor: pointer;
    font-size: 6px;
  }
  span {
    font-size: 8px;
  }

  .quantidade {
    margin-left: 0;
  }
  p {
    font-size: 9px;
  }
  .social-media img {
    width: 15px;
    height: 15px;
    border-radius: 5px;
  }
}

@media (max-width: 339px) {
  header {
    padding: 6px;
  }
  h1 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  h3 {
    font-size: 10px;
  }
  input[type="text"] {
    width: 200px;
    margin: 6px 0;
    height: 5px;
  }
  input[type="number"] {
    width: 43px;
    margin: 6px 0;
    margin-right: 6px;
    height: 5px;
  }
  #Adicionar,
  #ApagarTudo,
  #extrato {
    margin-right: 5px;
    padding: 6px 8px;
    font-size: 6px;
  }
  ul li {
    padding: 12px;
  }
  main {
    margin: 13px;
  }
  .quantidade,
  .excluir,
  .alterar,
  .comprado {
    color: #fff;
    border: none;
    margin-right: 2px; /* Ajuste o espaçamento entre o botão "1x" e o texto "Alface" */
    padding: 3px 4px;
    cursor: pointer;
    font-size: 5px;
  }
  span {
    font-size: 7px;
  }
  .comprado {
    margin-right: 3px;
  }
  p {
    font-size: 8px;
  }
  .social-media img {
    width: 15px;
    height: 15px;
    border-radius: 5px;
  }
}
